.header {
  height: 5rem;
  font-family: var(--font-latin); /* الخط العربي */
  font-weight: 600; /* وزن الخط */
  line-height: 100%; /* ارتفاع السطر */
  text-align: left; /* محاذاة النص لليمين */
}

.header .navbar {
  padding: 5px 10px 0 20px;
}

.header .navbar .navbar-toggler:focus {
  box-shadow: none;
}

.header .navbar .navbar-nav {
  background: var(--third-color);
  padding: 7px;
  border-radius: 15px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  width: 100%;
  height: 35px;
  font-family: var(--font-latin);
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: var(--main-color);
  padding: 0px !important;
  border-radius: 12px;
}

.nav-link:hover {
  background-color: var(--main-color);
  border-radius: 12px;
  color: var(--bg-main);
  height: 35px;
  padding: 20px !important;
}

.nav-active {
  background-color: var(--main-color);
  border-radius: 12px;
  color: var(--bg-main);
  height: 35px;
  padding: 20px !important;
}

.btn-logout {
  background: var(--third-color);
  color: var(--bg-main);
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .header {
    height: auto;
    margin-bottom: 20px;
  }

  .header .navbar .navbar-nav {
    width: 90%;
    margin-bottom: 10px !important;
    margin-top: 10px;
  }
}
