:root {
  --main-color: #131212;
  --second-color: #FDFCFB;
  --third-color: #F7911D;
  --bg-main: #FFFFFF;
  --font-arabic: "Noto Sans Arabic";
  --font-latin: "Noto Sans Arabic", sans-serif;
}

body {
  margin: 0 !important;
  font-family: var(--font-latin) !important;
  direction: rtl;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(27, 116, 187, 0.5);
}

.row {
  margin: 0;
}

.container-fluid {
  padding-right: 15px !important;
  padding-left: 25px !important;
}

/*************alert*******************/
svg {
  width: 30px;
  height: 25px;
  margin-left: 20px;
}

@media (max-width: 576px) {
  .btn-add {
    width: 100% !important;
  }
}
